*ldap.zsh
/.cob
migrations/
__pycache__/

dhcpawn.ipynb
*.pyc
dhcpawn.log
.emacs.desktop
*ipynb*
*.backup
*swp
docker/*#*
celerybeat-schedule
.cob-sdist.tar.gz
dhcpawn_tmuxconf.yml
.cob-project.yml
ldap_utils.py

.Dockerfile
