[MESSAGES CONTROL]
disable=R, attribute-defined-outside-init, unused-argument, fixme, missing-docstring, invalid-name, too-many-lines

[FORMAT]
max-line-length=120

[TYPECHECK]
ignored-modules=cob,ldap

[REPORTS]
reports=no
score=no
output-format=parseable
